.activeDevice {
  box-shadow: inset 0px -20px 20px 0px #00ff14;
  padding: 30px;
  border-radius: 50%;
  outline: none;
  transition: all 0.7s ease-in-out;
  transform: scale(0.6);
}
.deactivedevice {
  padding: 30px;
  border-radius: 50%;
  box-shadow: inset 0px 20px 20px 0px #ff0000;
  transition: all 0.7s ease-in-out;
  transform: scale(0.6);
}
