.light {
  &__lamp {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid brown;
    position: relative;
  }
  &__on {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    // background-color: transparent;
    border: 1px solid #000;
    position: absolute;
    left: -15px;
    top: 50px;
  }
  &__active {
    background-color: yellow;
    border: 1px solid yellow;
  }
}
