.location {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 600px;
  width: 90%;
  margin: 0 auto;
  &__window {
    display: flex;
  }
  &__remote,
  &__plan {
    border: 1px solid black;
    padding: 10px;
  }
  &__remote {
    flex-basis: 25%;
  }
  &__plan {
    flex-basis: 75%;
  }
  &__elements {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
