.App {
  h1 {
    color: red;
    text-align: center;
  }
  &__title {
    margin-top: 50px;
    font-size: 50px;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  &__list ul {
    display: flex;
    align-items: flex-end;
    li {
      padding: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-right: 20px;
      box-shadow: 0 0 10px;
      border: none;
      border-radius: 5px;
      outline: none;
      cursor: pointer;
      span {
        text-transform: uppercase;
        text-align: center;
        font-size: 32px;
      }
    }
  }
}
