h1 {
  color: red;
  text-align: center;
}

.App {
  &__wrapper {
    display: flex;
    justify-content: center;
  }
  &__list ul {
    display: flex;
    align-items: flex-end;
    li {
      margin-right: 10px;
    }
  }

  .active {
    box-shadow: 10px 10px 10px #00ff14;
    padding: 30px;
    border-radius: 50%;
    outline: none;
  }
}
